<p>※<%= t 'devise.mailer.caution_note.for_inputed_mail_msg' %></p>

<h2><%= t '.title' %></h2>

<p>
  <%= t '.accept_change_request_msg' %><br>
  <%= t '.request_confirm_link_msg' %><br>
  ※<%= t '.no_changes_msg' %>
</p>

<p>URL：<%= link_to "#{ENV.fetch("FRONT_DOMAIN")}/reset_password/new?reset_password_token=#{@token}", "#{ENV.fetch("FRONT_DOMAIN")}/reset_password/new?reset_password_token=#{@token}", target: :_blank, rel: "noopener noreferrer" %></p>

<%= render 'devise/mailer/shared/email_footer' %>